.button {
  background-color: var(--primary_color-button);
  border: 1px solid var(--primary_color-light);
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
  text-align: center;
  color: white;
}

.section-title {
  width: fit-content;
  background-color: white;  
  font-size: 18px;
  color: var(--secondary_color);
  text-align: center;
  z-index: 2;
  padding: 0 5px;
  margin: -10px auto 30px;
}

.back-to-home_button {
  width: 10vw;
  max-width: 40px;  
  position: fixed;  
  bottom: 20px;
  right: 3vw;
  z-index: 3;  
  opacity: 0.9;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.563));

    a {
      color: white;
    }

    &:visited {
      color: white;
    }
}