:root {  
  --primary_color: #4f4e4e;
  --primary_color-dark: #333333;
  --primary_color-light: #00000029;
  --secondary_color: #931717;
  --secondary_color-dark: #721313;
  --secondary_color-light: #b63232;
  --primary_color-button: #a82525;
  --secondary_color-button: #257225;
  --font: Helvetica, sans-serif;
}