* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary_color: #4f4e4e;
  --primary_color-dark: #333333;
  --primary_color-light: #00000029;
  --secondary_color: #931717;
  --secondary_color-dark: #721313;
  --secondary_color-light: #b63232;
  --primary_color-button: #a82525;
  --secondary_color-button: #257225;
  --font: Helvetica, sans-serif;
}

body {
  position: relative;
  font-family: var(--font);
  color: var(--primary_color);
}

.button {
  background-color: var(--primary_color-button);
  border: 1px solid var(--primary_color-light);
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
  text-align: center;
  color: white;
}
.button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.button:active {
  box-shadow: inset 1px 1px 2.5px rgba(0, 0, 0, 0.455);
}

.section-title {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  font-size: 18px;
  color: var(--secondary_color);
  z-index: 1;
  padding: 0 5px;
  top: -10px;
  left: 0;
  right: 0;
  margin: 0px auto;
}

.back-to-home_button {
  width: 10vw;
  max-width: 40px;
  position: fixed;
  bottom: 20px;
  right: 3vw;
  z-index: 3;
  opacity: 0.9;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.563));
}
.back-to-home_button a {
  color: white;
}
.back-to-home_button:visited {
  color: white;
}
.back-to-home_button:hover {
  filter: invert(2);
}

.invalid-field {
  color: red;
  font-size: 13px;
}

.invalid-input {
  border: 2px solid red;
}

@media screen and (min-width: 1024px) {
  .section-title {
    background-color: white;
    font-size: 18px;
    color: var(--secondary_color);
    text-align: center;
    z-index: 2;
    padding: 0 5px;
    margin: 0 auto;
    height: 10px;
  }
}
.header {
  background-image: url("../imgs/bg-red-white-soft-degrade.jpg");
  background-size: cover;
  padding: 30px 46px 100px 16px;
  color: white;
}
.header__headline {
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 2rem;
}
.header__headline strong {
  display: block;
  font-size: 40px;
}
.header__description {
  margin-bottom: 50px;
  font-size: 14px;
}
.header__navMenu {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header__navMenu a {
  color: var(--primary_color);
}
.header__navMenu .navMenu_item {
  background-color: white;
  color: var(--secondary_color);
  font-size: 14px;
  width: 37vw;
  padding: 8px 0;
}

.help-algorithm {
  margin: 0px 18px 100px 16px;
}
.help-algorithm h1 {
  color: var(--secondary_color);
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 17px;
}
.help-algorithm p {
  text-align: justify;
  font-size: 16px;
  margin-bottom: 17px;
}
.help-algorithm__form {
  margin-top: 30px;
}
.help-algorithm__form label {
  font-size: 16px;
}
.help-algorithm__form input[type=text] {
  display: block;
  width: 100%;
  height: 30px;
  margin: 7px 0 20px 0;
}
.help-algorithm__form .radioContainer {
  display: flex;
  max-width: 250px;
  justify-content: space-between;
  align-items: center;
  margin: 0 20vw 20px 0;
}
.help-algorithm__form .radioContainer label[for=male] {
  margin-right: 5vw;
}
.help-algorithm__form .help-algorithm__form-send-button {
  width: 100%;
  height: 39px;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .help-algorithm {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;
    max-width: 920px;
    margin: 0 auto 100px;
  }
  .help-algorithm-description_container {
    width: 50%;
  }
  .help-algorithm-form_container {
    width: 50%;
  }
  .help-algorithm__form .radioContainer {
    margin: 0 10vw 20px 0;
  }
}
.products-main_container {
  position: relative;
  border-top: 1px solid var(--secondary_color-dark);
}

.products {
  position: relative;
  margin: 0 auto;
  padding: 20px 0 190px 0;
}
.products__item {
  display: flex;
  justify-content: space-between;
  margin: 23px 18px 30px 10px;
  height: 129px;
}
.products__item-img {
  border: 1px solid var(--primary_color-light);
  margin: 0 auto;
  padding: 5px;
  width: 40.2vw;
  max-width: 169px;
  height: 132px;
}
.products__item-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47.6vw;
}
.products__item-desc-name {
  font-size: 16px;
  margin-bottom: 5px;
}
.products__item-desc-info {
  display: none;
}
.products__item-desc-old-price {
  font-size: 14px;
}
.products__item-desc-new-price {
  font-size: 16px;
  font-weight: bold;
}
.products__item-desc-installments {
  font-size: 14px;
}
.products__item-desc-buy-button {
  background-color: var(--secondary_color-button);
  width: 100%;
  height: 30px;
  font-size: 16px;
  margin-top: 10px;
}
.products__more-products-button {
  background-color: var(--primary_color-button);
  position: absolute;
  bottom: 135px;
  left: 0;
  right: 0;
  margin: -20px auto;
  width: 62vw;
  height: 39px;
  font-size: 16px;
}

@media screen and (min-width: 1024px) {
  .products-main_container {
    max-width: 920px;
    margin: 0 auto;
  }
  .products-main_container .products {
    display: flex;
    max-width: 930px;
    flex-wrap: wrap;
  }
  .products-main_container .products__item {
    flex-direction: column;
    margin: 23px 18px 40px 10px;
    height: 350px;
    max-width: 200px;
  }
  .products-main_container .products__item-img {
    max-width: 200px;
    height: 150px;
  }
  .products-main_container .products__item-desc {
    flex-wrap: wrap;
    max-width: 200px;
  }
  .products-main_container .products__item-desc-name {
    margin-bottom: 10px;
  }
  .products-main_container .products__item-desc-info {
    display: inline;
    font-size: 12px;
    margin-bottom: 8px;
    max-width: 200px;
  }
  .products-main_container .products__item-desc-old-price {
    margin-bottom: 6px;
  }
  .products-main_container .products__item-desc-new-price {
    margin-bottom: 7px;
  }
  .products-main_container .products__item-desc-buy-button {
    max-width: 200px;
  }
  .products-main_container .products__more-products-button {
    max-width: 260px;
  }
}
.share {
  position: relative;
  border-top: 1px solid var(--secondary_color-dark);
  color: var(--gray);
  padding: 0 0 130px 0;
}
.share p {
  font-size: 16px;
  margin: 28px 17px;
  text-align: center;
}
.share__form {
  margin: 0 20px 0 16px;
}
.share__form label {
  font-size: 16px;
}
.share__form input[type=text] {
  display: block;
  width: 100%;
  height: 30px;
  margin: 5px 0 20px 0;
}
.share__form-send-button {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  width: 62vw;
  height: 39px;
}

@media screen and (min-width: 1024px) {
  .share {
    max-width: 930px;
    margin: 0 auto;
  }
  .share__form {
    max-width: 720px;
    margin: 0 auto;
  }
  .share__form-1024 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    margin: 0 auto;
  }
  .share__form-1024 label {
    font-size: 16px;
  }
  .share__form-1024 input[type=text] {
    display: block;
    width: 340px;
    height: 30px;
    margin: 5px 0px 20px 0;
  }
  .share__form-send-button {
    max-width: 260px;
    margin: 0 auto;
  }
}
.footer {
  background-image: linear-gradient(359deg, var(--primary_color-light) 57.7%, white 88.2%);
  height: 120px;
  padding: 100px 80px 110px 80px;
}
.footer__content {
  text-align: center;
}
.footer p {
  font-size: 12px;
  color: var(--secondary_color-light);
}

@media screen and (min-width: 1024px) {
  .header {
    text-align: center;
  }
  .header__headline {
    line-height: 2.5rem;
    margin-bottom: 30px;
  }
  .header__navMenu .navMenu_item {
    width: 14vw;
    padding: 10px 0;
  }
  .footer p {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */