
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@import 'variables';

body {
  position: relative;
  font-family: var(--font);  
  color: var(--primary_color);
}

@import 'components';

.header {
  background-image: linear-gradient(10deg, white 28.5%, var(--secondary_color) 45%);
  padding: 30px 46px 100px 16px;
  color: white;

  &__headline {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 2rem;

    strong {
      display: block;
      font-size: 40px;
    }
  }

  &__description {
    margin-bottom: 50px;
    font-size: 14px;
  }

  &__navMenu {
    display: flex;    
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    a {
      color: var(--primary_color);      
    }

    .navMenu_item {
      background-color: white;
      color: var(--secondary_color);
      font-size: 14px;
      width: 37vw;
      padding: 8px 0;
    }    
    
  }
}

@import 'help-algorithm';
@import 'products';
@import 'share';

.footer {
  background-image: linear-gradient(359deg, var(--primary_color-light) 57.7%, white 88.2%);
  height: 120px;
  padding: 100px 80px 110px 80px;

  &__content {
    text-align: center;
  }

  & p {
    font-size: 12px;
    color: var(--secondary_color-light);
  }
}